@import '../../app.scss';

.input {
    flex-shrink: 1;
    padding: $spacing * 2 $spacing * 4;
    border-radius: 3px;
    border: 2px solid $color1;
    font-size: 1rem;
    text-transform: uppercase;
    color: $color1;   
    transition: all 0.2s ease-in-out;
    cursor: inherit;
}