@import '../../app.scss';

.input {
    flex-shrink: 1;
    padding: $spacing * 1.5 $spacing * 2.5;
    color: $color1;  
    font-size: 1rem;
    line-height: 1.5;
    border-radius: $spacing;
    border: 1px solid $color1;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    cursor: inherit;

    &:focus {
        box-shadow: 0 0 0 0.2rem lighten($color1, 30%);
    }
    
    &:active {
        box-shadow: 0 0 0 0.2rem lighten($color1, 30%);
    }

    &[type=search] {
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            height: 30px;
            width: 30px;
            background-color: white;
            background-image: url(../../assets/icons/clear.svg); 
            background-position: center;
            background-repeat: no-repeat;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
        }
    }
}