@import '../../app.scss';

.card {
    position: relative;
    max-width: 300px;
    max-height: 450px;
    flex: 0 0 90%;
    border: 2px solid $color1;
    border-radius: 5px;
    margin: 0 $spacing * 2;
    transition: all 0.2s ease-in-out;
    animation: 0.4s ease-in-out visibleAnimation;
    @keyframes visibleAnimation {
        from {
          opacity: 0;
        }
      
        to {
            opacity: 1;
        }
      }
    @include containerShadow;

    &__poster {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__field {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: $spacing * 2;
        color: white;
        background-color: $color1;
        opacity: 0.9;
        transition: all 0.2s ease-in-out;

        @media screen and (min-width: $sm) { 
            visibility: hidden;
            opacity: 0;
        }
    }

    &__title {
        margin-bottom: $spacing;
        font-size: 1.2rem;
    }

    &__year {
        display: flex;
        align-items: center;  
    }

    &__icon {
        height: 1.5rem;
        margin-right: $spacing;       
    }

    button {
        position: absolute;
        top: $spacing;
        right: $spacing;
        opacity: 0.9;

        @media screen and (min-width: $sm) { 
            visibility: hidden;
            opacity: 0;
        }

        &:focus {
            visibility: visible;
            opacity: 0.9;
        }
    }

    &:hover, &:focus{
        transform: translateY(-10px);

        .card__field, button {
            visibility: visible;
            opacity: 0.9;
        }
    }
}