@import '../../app.scss';

.slider {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.5s;

    &_hidden {
        visibility: hidden;
        opacity: 0;

        button {
            display: none;
        }
    }

    &__block {
        position: relative;
    }

    &__carousel {
        display: flex;
        flex-wrap: nowrap;
        padding: $spacing * 2;
        overflow-x: auto;
    }

    &__button {
        position: absolute;
        top: 45%;
        z-index: 1;
        visibility: hidden;
        opacity: 0.4;

        &:first-of-type {
            left: $spacing * 2;
        }

        &:last-of-type {
            right: $spacing * 2;
        }

        &:hover {
            opacity: 0.9;
        }

        &:focus {
            opacity: 0.9;
        }
        
        &:active {
            opacity: 0.9;
        }

        @media screen and (min-width: $sm) { 
            visibility: visible;
        }
    }

    .container {
        height: 100%;
        overflow: hidden;
    }

    scrollbar-color: $color1 $color2;
    scrollbar-width: $spacing * 2;

    ::-webkit-scrollbar {
        height: $spacing * 2;
        background-color: $color2;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $color1;
        border-radius: $spacing * 2;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: darken($color1, 10%);
    }
}