$color1: #673ab7;
$color2: #ede7f6;

$spacing: 5px;

$xs: 0px;
$sm: 600px;
$md: 960px;
$lg: 1280px;

@mixin containerMedia($deviceWidth, $ContainerWidth) {
    @media screen and (min-width: $deviceWidth) { 
        max-width: $ContainerWidth;
    }
}

@mixin containerShadow {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}